form{
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
margin: auto;
height: 100vh;
width: 200px;
gap: 10px;
}
button,input{
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
